.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.banner__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.banner__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
}

.banner__button--play {
  background-color: white;
  color: black;
}

.banner__button--play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.banner__button--info {
  background-color: rgba(109, 109, 110, 0.7);
}

.banner__button--info:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.banner__fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #141414
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .banner__contents {
    margin-left: 20px;
    padding-top: 120px;
  }

  .banner__title {
    font-size: 2rem;
  }

  .banner__description {
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
  }
}
